:root {
    --color-dark: #111b47;
    --color-font-dark: #091133;

    --font-size-md: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-xs: 0.75rem;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.mulish-font {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.playfair-display-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.body {
    background-color: white;
    display: contents;
    margin: 0;
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }
    body {
        margin: 0;
        overflow-x: hidden; 
    }
    
    html, body {
        width: 100vw; 
        max-width: 100%; 
    }
    
    * {
        box-sizing: border-box; 
    }
}

@media screen and (max-width: 450px) {
    :root {
        font-size: 12px;
    }
    body {
        margin: 0;
        overflow-x: hidden; 
    }
    
    html, body {
        width: 100vw; 
        max-width: 100%; 
    }
    
    * {
        box-sizing: border-box; 
    }
}

.container__header{
    height: 774px;
    padding: 0 20px;   
}

.container {
    margin: 0 auto;
    padding: 0 20px; 
    justify-content: space-between;   
}

.container_footer {
    height: 195px;
    padding: 0 20px;   
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 40px;
    }
    body {
        margin: 0;
        overflow-x: hidden; 
    }
    
    html, body {
        width: 100vw; 
        max-width: 100%; 
    }
    
    * {
        box-sizing: border-box; 
    }
}

.li {
    display: block;
}

.a {
    text-decoration: none;
}
